/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgreen;
  font-size: 30px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  text-align: center;
  width: 85%;
  margin: 50px auto;
  background: lightgrey;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}
li {
  list-style-type: none;
}
li[class*="-wrapper"] {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.fizzbuzz-1-wrapper {
  background: #037101;
}
.fizz-1-wrapper {
  background: #f8d704;
}
.buzz-1-wrapper {
  background: #274e94;
}

.fizzbuzz-2-wrapper {
  background: #49bf01;
}
.fizz-2-wrapper {
  background: #fefe66;
}
.buzz-2-wrapper {
  background: #018ff7;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}
